<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
    initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>
<body>
    <div class="container">
        <video autoplay loop muted id="background-video">
        <source src="{{ url_for('static', filename='video/animation.mp4')}}"
                type="video/mp4">
    </video>

    </div>

    <h1>Lo-fi Beat Generator Home</h1>
    <audio controls loop autoplay>
        <source src="{{ url_for('static', filename='audio/output.wav')}}"
                type="audio/wav">
    </audio>
</body>
</html>
